# Read data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train_data_orig = pd.read_csv('../data/titanic/train.csv')
train_data_orig['IsTest'] = False
print(len(train_data_orig))

test_data_orig = pd.read_csv('../data/titanic/test.csv')
test_data_orig['IsTest'] = True
print(len(test_data_orig))

891
418

In [3]:
# It's easier to transform both datasets if they are in one dataset
data = pd.concat([train_data_orig,test_data_orig])
data = data.set_index('PassengerId')
print(len(data))

1309

In [4]:
data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,IsTest
PassengerId,,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,False
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,False
3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,False
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,True
1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,True
1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,True
1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,True
1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,True

In [5]:
data = data.drop(['Name', 'SibSp', 'Parch', 'Fare', 'Cabin'], axis=1)

In [6]:
data['AgeClass'] = pd.cut(data.Age, 
       [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
       labels=['0-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80-89',  '90-99'], 
      )
data = data.drop(['Age'], axis=1)

In [7]:
data

,Survived,Pclass,Sex,Ticket,Embarked,IsTest,AgeClass
PassengerId,,,,,,,
1,0.0,3,male,A/5 21171,S,False,20-29
2,1.0,1,female,PC 17599,C,False,30-39
3,1.0,3,female,STON/O2. 3101282,S,False,20-29
4,1.0,1,female,113803,S,False,30-39
5,0.0,3,male,373450,S,False,30-39
...,...,...,...,...,...,...,...
1305,NaN,3,male,A.5. 3236,S,True,NaN
1306,NaN,1,female,PC 17758,C,True,30-39
1307,NaN,3,male,SOTON/O.Q. 3101262,S,True,30-39
1308,NaN,3,male,359309,S,True,NaN
1309,NaN,3,male,2668,C,True,NaN

In [8]:
mapping = {
    'Pclass': 'class',
    'Sex': 'sex',
    'Ticket': 'ticket',
    'Embarked': 'from',
    'AgeClass': 'age'
}

In [9]:
#pd.options.display.max_columns = 999
data_enc = pd.get_dummies(data, prefix=mapping, columns=mapping.keys())
data_enc

,Survived,IsTest,class_1,class_2,class_3,sex_female,sex_male,ticket_110152,ticket_110413,ticket_110465,...,age_0-9,age_10-19,age_20-29,age_30-39,age_40-49,age_50-59,age_60-69,age_70-79,age_80-89,age_90-99
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,0.0,False,0,0,1,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1.0,False,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,1.0,False,0,0,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,1.0,False,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
5,0.0,False,0,0,1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,NaN,True,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1306,NaN,True,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1307,NaN,True,0,0,1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1308,NaN,True,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1309,NaN,True,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
train_df = data_enc[data_enc.IsTest==False].drop(['IsTest'], axis=1)

In [11]:
train_df

,Survived,class_1,class_2,class_3,sex_female,sex_male,ticket_110152,ticket_110413,ticket_110465,ticket_110469,...,age_0-9,age_10-19,age_20-29,age_30-39,age_40-49,age_50-59,age_60-69,age_70-79,age_80-89,age_90-99
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0,0,1,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1.0,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,1.0,0,0,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,1.0,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
5,0.0,0,0,1,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,0.0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
888,1.0,1,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
889,0.0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
890,1.0,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
891,0.0,0,0,1,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [12]:
test_df = data_enc[data_enc.IsTest==True].drop(['IsTest','Survived'], axis=1)

In [13]:
test_df

,class_1,class_2,class_3,sex_female,sex_male,ticket_110152,ticket_110413,ticket_110465,ticket_110469,ticket_110489,...,age_0-9,age_10-19,age_20-29,age_30-39,age_40-49,age_50-59,age_60-69,age_70-79,age_80-89,age_90-99
PassengerId,,,,,,,,,,,,,,,,,,,,,
892,0,0,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
893,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
894,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
895,0,0,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
896,0,0,1,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1306,1,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1307,0,0,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1308,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1309,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Columns: 948 entries, Survived to age_90-99
dtypes: float64(1), uint8(947)
memory usage: 837.9 KB

In [15]:
from sklearn import svm

In [16]:
clf = svm.SVC()

In [19]:
X = train_df.drop(['Survived'], axis=1)
X

,class_1,class_2,class_3,sex_female,sex_male,ticket_110152,ticket_110413,ticket_110465,ticket_110469,ticket_110489,...,age_0-9,age_10-19,age_20-29,age_30-39,age_40-49,age_50-59,age_60-69,age_70-79,age_80-89,age_90-99
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,0,0,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,0,0,1,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,1,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
5,0,0,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
888,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
889,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
890,1,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
891,0,0,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [20]:
y = train_df.Survived
y

PassengerId
1      0.0
2      1.0
3      1.0
4      1.0
5      0.0
      ...
887    0.0
888    1.0
889    0.0
890    1.0
891    0.0
Name: Survived, Length: 891, dtype: float64

In [23]:
clf.fit(X, y)

SVC()

In [41]:
res = pd.concat([
    pd.DataFrame(test_df.index, columns=['PassengerId']),
    pd.DataFrame(clf.predict(test_df), columns=['Survived'])
    ], axis=1).astype({'Survived':'int'})
res

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [42]:
res.to_csv('titanic_out.csv', index=False)

In [22]:
?svm.SVC

Init signature:
svm.SVC(
    *,
    C=1.0,
    kernel='rbf',
    degree=3,
    gamma='scale',
    coef0=0.0,
    shrinking=True,
    probability=False,
    tol=0.001,
    cache_size=200,
    class_weight=None,
    verbose=False,
    max_iter=-1,
    decision_function_shape='ovr',
    break_ties=False,
    random_state=None,
)
Docstring:
C-Support Vector Classification.

The implementation is based on libsvm. The fit time scales at least
quadratically with the number of samples and may be impractical
beyond tens of thousands of samples. For large datasets
consider using :class:`sklearn.svm.LinearSVC` or
:class:`sklearn.linear_model.SGDClassifier` instead, possibly after a
:class:`sklearn.kernel_approximation.Nystroem` transformer.

The multiclass support is handled according to a one-vs-one scheme.

For details on the precise mathematical formulation of the provided
kernel functions and how `gamma`, `coef0` and `degree` affect each
other, see the corresponding section in the narrative documentation:
:ref:`svm_kernels`.

Read more in the :ref:`User Guide <svm_classification>`.

Parameters
----------
C : float, default=1.0
    Regularization parameter. The strength of the regularization is
    inversely proportional to C. Must be strictly positive. The penalty
    is a squared l2 penalty.

kernel : {'linear', 'poly', 'rbf', 'sigmoid', 'precomputed'}, default='rbf'
    Specifies the kernel type to be used in the algorithm.
    It must be one of 'linear', 'poly', 'rbf', 'sigmoid', 'precomputed' or
    a callable.
    If none is given, 'rbf' will be used. If a callable is given it is
    used to pre-compute the kernel matrix from data matrices; that matrix
    should be an array of shape ``(n_samples, n_samples)``.

degree : int, default=3
    Degree of the polynomial kernel function ('poly').
    Ignored by all other kernels.

gamma : {'scale', 'auto'} or float, default='scale'
    Kernel coefficient for 'rbf', 'poly' and 'sigmoid'.

    - if ``gamma='scale'`` (default) is passed then it uses
      1 / (n_features * X.var()) as value of gamma,
    - if 'auto', uses 1 / n_features.

    .. versionchanged:: 0.22
       The default value of ``gamma`` changed from 'auto' to 'scale'.

coef0 : float, default=0.0
    Independent term in kernel function.
    It is only significant in 'poly' and 'sigmoid'.

shrinking : bool, default=True
    Whether to use the shrinking heuristic.
    See the :ref:`User Guide <shrinking_svm>`.

probability : bool, default=False
    Whether to enable probability estimates. This must be enabled prior
    to calling `fit`, will slow down that method as it internally uses
    5-fold cross-validation, and `predict_proba` may be inconsistent with
    `predict`. Read more in the :ref:`User Guide <scores_probabilities>`.

tol : float, default=1e-3
    Tolerance for stopping criterion.

cache_size : float, default=200
    Specify the size of the kernel cache (in MB).

class_weight : dict or 'balanced', default=None
    Set the parameter C of class i to class_weight[i]*C for
    SVC. If not given, all classes are supposed to have
    weight one.
    The "balanced" mode uses the values of y to automatically adjust
    weights inversely proportional to class frequencies in the input data
    as ``n_samples / (n_classes * np.bincount(y))``

verbose : bool, default=False
    Enable verbose output. Note that this setting takes advantage of a
    per-process runtime setting in libsvm that, if enabled, may not work
    properly in a multithreaded context.

max_iter : int, default=-1
    Hard limit on iterations within solver, or -1 for no limit.

decision_function_shape : {'ovo', 'ovr'}, default='ovr'
    Whether to return a one-vs-rest ('ovr') decision function of shape
    (n_samples, n_classes) as all other classifiers, or the original
    one-vs-one ('ovo') decision function of libsvm which has shape
    (n_samples, n_classes * (n_classes - 1) / 2). However, one-vs-one
    ('ovo') is always used as multi-class strategy. The parameter is
    ignored for binary classification.

    .. versionchanged:: 0.19
        decision_function_shape is 'ovr' by default.

    .. versionadded:: 0.17
       *decision_function_shape='ovr'* is recommended.

    .. versionchanged:: 0.17
       Deprecated *decision_function_shape='ovo' and None*.

break_ties : bool, default=False
    If true, ``decision_function_shape='ovr'``, and number of classes > 2,
    :term:`predict` will break ties according to the confidence values of
    :term:`decision_function`; otherwise the first class among the tied
    classes is returned. Please note that breaking ties comes at a
    relatively high computational cost compared to a simple predict.

    .. versionadded:: 0.22

random_state : int or RandomState instance, default=None
    Controls the pseudo random number generation for shuffling the data for
    probability estimates. Ignored when `probability` is False.
    Pass an int for reproducible output across multiple function calls.
    See :term:`Glossary <random_state>`.

Attributes
----------
support_ : ndarray of shape (n_SV,)
    Indices of support vectors.

support_vectors_ : ndarray of shape (n_SV, n_features)
    Support vectors.

n_support_ : ndarray of shape (n_class,), dtype=int32
    Number of support vectors for each class.

dual_coef_ : ndarray of shape (n_class-1, n_SV)
    Dual coefficients of the support vector in the decision
    function (see :ref:`sgd_mathematical_formulation`), multiplied by
    their targets.
    For multiclass, coefficient for all 1-vs-1 classifiers.
    The layout of the coefficients in the multiclass case is somewhat
    non-trivial. See the :ref:`multi-class section of the User Guide
    <svm_multi_class>` for details.

coef_ : ndarray of shape (n_class * (n_class-1) / 2, n_features)
    Weights assigned to the features (coefficients in the primal
    problem). This is only available in the case of a linear kernel.

    `coef_` is a readonly property derived from `dual_coef_` and
    `support_vectors_`.

intercept_ : ndarray of shape (n_class * (n_class-1) / 2,)
    Constants in decision function.

fit_status_ : int
    0 if correctly fitted, 1 otherwise (will raise warning)

classes_ : ndarray of shape (n_classes,)
    The classes labels.

probA_ : ndarray of shape (n_class * (n_class-1) / 2)
probB_ : ndarray of shape (n_class * (n_class-1) / 2)
    If `probability=True`, it corresponds to the parameters learned in
    Platt scaling to produce probability estimates from decision values.
    If `probability=False`, it's an empty array. Platt scaling uses the
    logistic function
    ``1 / (1 + exp(decision_value * probA_ + probB_))``
    where ``probA_`` and ``probB_`` are learned from the dataset [2]_. For
    more information on the multiclass case and training procedure see
    section 8 of [1]_.

class_weight_ : ndarray of shape (n_class,)
    Multipliers of parameter C for each class.
    Computed based on the ``class_weight`` parameter.

shape_fit_ : tuple of int of shape (n_dimensions_of_X,)
    Array dimensions of training vector ``X``.

Examples
--------
>>> import numpy as np
>>> from sklearn.pipeline import make_pipeline
>>> from sklearn.preprocessing import StandardScaler
>>> X = np.array([[-1, -1], [-2, -1], [1, 1], [2, 1]])
>>> y = np.array([1, 1, 2, 2])
>>> from sklearn.svm import SVC
>>> clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))
>>> clf.fit(X, y)
Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(gamma='auto'))])

>>> print(clf.predict([[-0.8, -1]]))
[1]

See also
--------
SVR
    Support Vector Machine for Regression implemented using libsvm.

LinearSVC
    Scalable Linear Support Vector Machine for classification
    implemented using liblinear. Check the See also section of
    LinearSVC for more comparison element.

References
----------
.. [1] `LIBSVM: A Library for Support Vector Machines
    <http://www.csie.ntu.edu.tw/~cjlin/papers/libsvm.pdf>`_

.. [2] `Platt, John (1999). "Probabilistic outputs for support vector
    machines and comparison to regularizedlikelihood methods."
    <http://citeseer.ist.psu.edu/viewdoc/summary?doi=10.1.1.41.1639>`_
File:           /Volumes/MyFiles/Work/experiments/venv-titanic_2/lib/python3.8/site-packages/sklearn/svm/_classes.py
Type:           ABCMeta
Subclasses:

In [29]:
test_df.index

Int64Index([ 892,  893,  894,  895,  896,  897,  898,  899,  900,  901,
            ...
            1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309],
           dtype='int64', name='PassengerId', length=418)

In [31]:
?pd.DataFrame

Init signature:
pd.DataFrame(
    data=None,
    index: Union[Collection, NoneType] = None,
    columns: Union[Collection, NoneType] = None,
    dtype: Union[ForwardRef('ExtensionDtype'), str, numpy.dtype, Type[Union[str, float, int, complex, bool]], NoneType] = None,
    copy: bool = False,
)
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, or list-like objects.

    .. versionchanged:: 0.23.0
       If data is a dict, column order follows insertion-order for
       Python 3.6 and later.

    .. versionchanged:: 0.25.0
       If data is a list of dicts, column order follows insertion-order
       for Python 3.6 and later.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame. Will default to
    RangeIndex (0, 1, 2, ..., n) if no column labels are provided.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool, default False
    Copy data from inputs. Only affects DataFrame / 2d ndarray input.

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_table : Read general delimited file into DataFrame.
read_clipboard : Read text from clipboard into DataFrame.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9
File:           /Volumes/MyFiles/Work/experiments/venv-titanic_2/lib/python3.8/site-packages/pandas/core/frame.py
Type:           type
Subclasses:     SubclassedDataFrame